# Ignore environment files
.env
.DS_Store

# Ignore Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore dependencies
node_modules/
package-lock.json

# Ignore IDE files
.vscode/
.idea/

# Ignore logs and temp files
*.log
*.tmp

# Ignore compiled Python files
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
