.contact {
  background-color: #0a1428;

}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1a2639;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.contact-form button {
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--accent-color);
  color: #050b1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #ffffff;
}
